html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* ------------------------------------------------ Scroll Bar --------------------------------------------------- */

html {
  scrollbar-width: thin;
  scrollbar-color: #3a2f2b #1A1410;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1A1410;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #3a2f2b, #5a4740);
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}

::-webkit-scrollbar-corner {
  background: transparent;
}